input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    border-radius: 10px; /* Mantén el estilo del borde redondeado */
}

