.travel-image img {
    position: relative;
    width: 350px;
    height: 250px;
    background-color: #f2f2f2;
    border-radius: 10px;
    background-size: cover;
    /* Esto hace que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

